body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 1em;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2em;
}

section {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin: 1em;
  max-width: 800px;
  padding: 1em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 1em;
  text-align: center;
}
